{%- set external_urls = {
  'github': 'https://github.com/leopard-ai/betty',
  'github_issues': 'https://github.com/loepard-ai/betty/issues',
  'contributing': 'https://github.com/leopard-ai/betty/blob/main/CONTRIBUTING.md',
  'home': 'https://leopard-ai.github.io/betty',
  'get_started': 'https://leopard-ai.github.io/betty',
  'features': 'https://pytorch.org/features',
}
-%}
