{%- set external_urls = {
  'github': 'https://github.com/leopard-ai/betty',
  'github_issues': 'https://github.com/loepard-ai/betty/issues',
  'contributing': 'https://github.com/leopard-ai/betty/blob/main/CONTRIBUTING.md',
  'docs': 'https://pytorch.org/docs/stable/index.html',
  'tutorials': 'https://pytorch.org/tutorials',
  'previous_pytorch_versions': 'https://pytorch.org/previous-versions/',
  'home': 'https://pytorch.org/',
  'get_started': 'https://pytorch.org/get-started',
  'features': 'https://pytorch.org/features',
  'blog': 'https://pytorch.org/blog/',
  'support': 'https://pytorch.org/support',
}
-%}
